[submodule "src/scripts/libs/pseudo-debugkit"]
	path = src/scripts/libs/pseudo-debugkit
	url = git@github.com:hi2ma-bu4/PseudoDebugKit.git
[submodule "src/scripts/libs/flowkeys"]
	path = src/scripts/libs/flowkeys
	url = git@github.com:hi2ma-bu4/FlowKeys.git
